<div class="taskbadge taskbadge-<%= task.id %>">
  <div class="client"><%= link_to task.client.name, client_path(task.client) %></div>
  <div class="task"><%= link_to task.name, task_path(task) %> (<%= task.hours_and_minutes %></span>)</div>
</div>
