<div class="taskbadge taskbadge-<%= task.id %>">
  <div class="task"><%= link_to task.name_with_ancestors, task_path(task) %> (<%= task.hours_and_minutes %></span>) <%= link_to '[x]', task_path(task), :method => 'delete', :confirm => 'Are you sure you want to delete this task?' %></div>
</div>
