<h1>Tasks</h1>

<div class="tasklist">
  <% for task in @tasks %>
  <div class="gradientbox"><%= render :partial => task %></div>
  <% end %>
</div>

<h2>Add task</h2>
<% form_for @task, :url => '/tasks/create' do |form| %>
<%= render :partial => 'tasks/form', :object => form %>
<% end %>
