/* Generic Elements */
html {
}

body {
  margin: 0;
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #eee 80px, #ddd 81px, #fff 84px) no-repeat;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Forms */
label:after {
  content: ":";
}

input {
  background: #eee;
  color: #383838;
  font-weight: bold;
  border: 1px solid #D9D9D9;
  padding: 0.2em;
}

input:focus {
  background: #fff;
}

input[type='button'],
input[type='submit'] {
  background: #eee;
  color: #383838;
  font-weight: bold;
  border: 1px outset #D9D9D9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
    padding: 0.2em 1em;
}

input[type='button']:hover,
input[type='submit']:hover {
  border: 1px outset #383838;
}

input[type='button']:active,
input[type='submit']:active {
  border: 1px inset #383838;
}

div.form-item-inline {
  display: inline;
}

div.form-item-block {
  margin-bottom: 5px;
}

div.form-item-block label {
  min-width: 200px;
  display: inline-block;
}

/* Header */
#header {
  padding: 0 4em 1em;
  color: white;
}

#header h1 {
  background: transparent url('/images/dogsheet.png') no-repeat 10px 3px;
  height: 53px;
  width: 220px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
  -moz-box-shadow: 0 1px 1px #eee;
  background-color: #eee;
  border: 1px solid #ddd;
  border-top: none;
  display: inline-block;
}

#header h1 a, #header h1 a:hover {
  color: #383838;
  text-decoration: none;
  visibility: hidden;
}

#header a {
  font-weight: bold;
  text-decoration: none;
}

/* Navigation */
ul#nav {
  margin: 0 0 1em;
  padding: 0;
  text-align: right;
  position: absolute;
  right: 3.5em;
  top: 0.3em;
}

ul#nav li a {
  font-weight: bold;
  color: #383838;
}

ul#nav li {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
  -moz-box-shadow: 0 1px 1px #eee;
  padding: 0.4em 0.5em;
  margin-right: 0.8em;
  background-color: #eee;
  border: 1px solid #ddd;
  display: inline;
}

ul#nav li:hover {
  background: #D9D9D9;
}

ul#nav li a:hover {
  text-decoration: none;
}

ul#nav li.today {
  background-color: #9B6;
}
ul#nav li.today:hover {
  background-color: #693;
}

ul#nav li:last {
  margin-right: 0;
}

ul#context-nav {
  padding: 0.2em 0.8em;
  margin: 0;
  background-color: #ddd;
  border: 1px #bbb solid;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px;
  font-size: 1.4em;
}

ul#context-nav li {
  display: inline;
  border: 0;
  padding: 0.4em 0.8em;
  margin-right: 1em;
}

form#timesheet_filter {
  display: inline;
}
form#timesheet_filter select#task_id {
  width: 10em;
}

/* Page */
#page {
  margin: 0 4em 1em;
  padding: 2em;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Footer */
#footer {
  margin: 1em 4em;
  padding: 1em;
  background: #ddd;
  color: #383838;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#footer a {
  color: #383838;
  font-weight: bold;
}

ul#expand-collapse-controls {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 10px 1em 5px;
}
ul#expand-collapse-controls li {
  display: inline;
  background-color: #eee;
  padding: 5px 1em 5px;
  cursor: pointer;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border: 1px solid #bbb;
  border-bottom: none;
  font-weight: bold;
}
ul#expand-collapse-controls li:hover {
  background-color: #d9d9d9;
}
ul#expand-collapse-controls li a.export {
  background: transparent url('/images/spreadsheet.png') no-repeat left;
  padding: 0.2em 0.2em 0.2em 22px;
}

tbody#timesheet td {
  border-bottom: 1px solid #ccc;
}

th.time, td.time, th.decimal-time, td.decimal-time {
  text-align: right;
}

img {
  border: 0;
  vertical-align: middle;
}

/* Day header */
h3.dayheader {
  font-size: 1.4em;
  line-height: 1.8em;
  color: white;
  background: #383838 url('/images/dayheader-open.png') 5px center no-repeat;
  padding: 0 0 0 35px;
  margin: 0;
  cursor: pointer;
}
h3.dayheader.closed {
  background-image: url('/images/dayheader-closed.png');
  border-bottom: 1px solid #777;
}
h3.dayheader a {
  color: white;
  margin: 0.2em 0;
}

h3.dayheader span.summary {
  float: right;
  background: #777 url('/images/clock.png') no-repeat 5px center;
  padding-left: 35px;
  padding-right: 1em;
  min-width: 5em;
}

/* This class of block element gets a grey gradient with blue on hover */
.gradientbox {
  clear: left;
  border: 1px solid #777;
  border-top: none;
  padding: 0.4em;
  min-height: 6em;
  background: white;
}

.gradientbox:hover {
  background-color: #D9D9D9;
}

div.timeslice div.timeinfo {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px dotted #777;
  float: right;
  min-width: 10em;
}
div.timeslice div.timeinfo div.timeslice-delete {
  float: right;
}
div.timeslice div.time {
  font-size: 2em;
  line-height: 1.2em;
}
div.timegap {
  border-left: 2px dotted #777;
  border-right: 2px dotted #777;
  border-bottom: 2px dotted #777;
  padding: 0.5em;
  font-style: italic;
  color: #777;
}

/* Taskbadge */
div.taskinfo {
  margin-right: 150px;
}

div.taskbadge div.task-name {
  margin-right: 140px;
}

div.taskbadge div.task-toplevel {
  font-size: 2em;
}
div.taskbadge div.task-midlevel {
  font-style: italic;
  font-color: #ccc;
}
div.taskbadge div.task-timeinfo {
  float: right;
}
div.taskbadge div.task-actions a {
  color: #4e9a06;
}

/* Timeslice form */
div.timeslice-form {
  border: 1px solid #bbb;
  border-top: none;
  border-bottom: none;
  background: white;
  padding: 1em;
}
div.timeslice-form div.timeslice-time-entry {
  margin-top: 0.5em;
}
#timeslice-form-errors {
  float: right;
}

/* Task form */
div.task-form {
  background: white;
  padding: 1em;
  border: 1px solid #777;
  margin-top: 1em;
}

div.task-form h2 {
  margin: 0;
}

table {
  width: 100%;
}

th {
  background: #ddd;
}

th.checkbox {
  width: 1em;
}

td.right {
  text-align: right;
}

table tfoot td,
table tfoot td {
  border-top: 1px solid #777;
hr {
  color: #ddd;
}
