html {
}

body {
  margin: 0;
  background: white url('/images/body-gradient.png') repeat-x top left;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

input[type='button'],
input[type='submit'] {
  background: #24365d url('/images/button-bg.png') repeat-x top left;
  color: #ccc;
  font-weight: bold;
  border: 0;
  padding: 0.2em 1em;
}

input[type='button']:hover,
input[type='submit']:hover {
  color: #fff;
}

input[type='button']:active,
input[type='submit']:active {
  color: #fff;
  background: #416dd6 url('/images/button-active-bg.png') repeat-x top left;
}

a:hover {
  text-decoration: underline;
}

#header {
  background: transparent url(/images/mutt-48x48.png) no-repeat bottom left;
  padding: 0.5em 4em 0 4em;
  color: white;
}

#header a {
  font-weight: bold;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

ul#nav,ul#context-nav {
  padding: 0.4em 0 0 0;
  margin: 0;
}

ul#nav li,ul#context-nav li {
  display: inline;
}

ul#nav li {
  -moz-border-radius: 10px 10px 0 0;
  padding: 0.4em 0.6em;
  margin-right: 0.8em;
  background-color: #eee;
}

ul#context-nav {
  font-size: 1.4em;
  margin: 0.8em 0;
}

ul#context-nav li {
  background: white url('/images/timeslice-gradient.png') repeat-x top left;
  border: 2px solid #555753;
  -moz-border-radius: 10px;
  padding: 0.4em 0.8em;
  margin-right: 1em;
}
ul#context-nav li:hover {
  background-color: #729fcf;
}
ul#context-nav li a.export {
  background: transparent url('/images/spreadsheet.png') no-repeat left;
  padding: 0.2em 0.2em 0.2em 30px;
}

#page {
  margin: 0 4em;
  padding: 2em;
  background-color: #eee;
}

ul#expand-collapse-controls {
  display: inline;
  text-align: right;
}
ul#expand-collapse-controls li {
  display: inline;
}

div.form-item {
  display: inline;
}

tbody#timesheet td {
  border-bottom: 1px solid #ccc;
}

th.time, td.time, th.decimal-time, td.decimal-time {
  text-align: right;
}

img {
  border: 0;
  vertical-align: middle;
}

/* Day header */
h3.dayheader {
  font-size: 1.4em;
  line-height: 1.8em;
  color: white;
  background: #2e3436 url(/images/dayheader-open.png) 5px center no-repeat;
  padding: 0 0 0 35px;
  margin: 0;
  cursor: pointer;
}
h3.dayheader.closed {
  background-image: url(/images/dayheader-closed.png);
  border-bottom: 1px solid #777;
}
h3.dayheader a {
  color: white;
  margin: 0.2em 0;
}

h3.dayheader span.summary {
  float: right;
  background: #888a85 url(/images/clock.png) no-repeat 5px center;
  padding-left: 35px;
  padding-right: 1em;
  min-width: 5em;
}

/* This class of block element gets a grey gradient with blue on hover */
.gradientbox {
  clear: left;
  border: 1px solid #888a85;
  border-top: none;
  padding: 0.4em;
  min-height: 6em;
  background: white url('/images/timeslice-gradient.png') repeat-x top left;
}

.gradientbox:hover {
  background-color: #729fcf;
}

div.timeslice div.timeinfo {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px dotted #888a85;
  float: right;
  min-width: 10em;
}
div.timeslice div.timeinfo div.timeslice-delete {
  float: right;
}
div.timeslice div.time {
  font-size: 2em;
  line-height: 1.2em;
}
div.timegap {
  border-left: 2px dotted #777;
  border-right: 2px dotted #777;
  border-bottom: 2px dotted #777;
  padding: 0.5em;
  font-style: italic;
  color: #777;
}

/* Taskbadge */
div.taskinfo {
  /* float: left; */
  margin-right: 150px;
}

div.taskbadge div.task-name {
  margin-right: 140px;
}

div.taskbadge div.task-toplevel {
  font-size: 2em;
}
div.taskbadge div.task-midlevel {
  font-style: italic;
  font-color: #ccc;
}
div.taskbadge div.task-timeinfo {
  float: right;
}
div.taskbadge div.task-actions a {
  color: #4e9a06;
}

/* Timeslice form */
div.timeslice-form {
  border: 1px solid #777;
  border-top: none;
  background: white;
  padding: 1em;
}
div.timeslice-form > form {
  margin: 2em;
}
div.timeslice-form div.timeslice-time-entry {
  margin-top: 0.5em;
}
#timeslice-form-errors {
  float: right;
}
