html {
}

body {
  margin: 0;
  background: white url('/images/body-gradient.png') repeat-x top left;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  background: black url(/images/mutt-48x48.png) no-repeat bottom left;
  padding: 0.5em 4em 0 4em;
  color: white;
}

#header a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

ul#nav,ul#context-nav {
  padding: 0;
  margin: 0;
}

ul#nav li,ul#context-nav li {
  display: inline;
}

ul#context-nav {
  font-size: 1.4em;
  margin: 0.8em 0;
}

ul#context-nav li {
  background: white url('/images/timeslice-gradient.png') repeat-x top left;
  border: 2px solid #555753;
  -moz-border-radius: 10px;
  padding: 0.4em 0.8em;
}
ul#context-nav li:hover {
  background-color: #729fcf;
}
ul#context-nav li a.export {
  background: transparent url('/images/spreadsheet.png') no-repeat left;
  padding: 0.2em 0.2em 0.2em 30px;
}

#page {
  margin: 0 4em;
  padding: 2em;
  background-color: #eee;
}

div.form-item {
  display: inline;
}

tbody#timesheet td {
  border-bottom: 1px solid #ccc;
}

th.time, td.time, th.decimal-time, td.decimal-time {
  text-align: right;
}

img {
  border: 0;
}

/* Day header */
h2.dayheader {
  color: white;
  background-color: #2e3436;
  font-size: 2em;
  padding: 0.1em 0;
  margin: 0;
}
h2.dayheader img {
  vertical-align: middle;
}

/* Timeslice box */
div.timeslice {
  clear: left;
  border: 1px solid #888a85;
  border-top: none;
  padding: 0.4em;
  min-height: 6em;
  background: white url('/images/timeslice-gradient.png') repeat-x top left;
}

div.timeslice:hover {
  background-color: #729fcf;
}

div.timeslice div.timeinfo {
  float: left;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px dotted #888a85;
}
div.timeslice div.timeinfo div.timeslice-delete {
  float: right;
}
div.timeslice div.time {
  font-size: 2em;
  line-height: 1.2em;
}

/* Taskbadge */
div.taskinfo {
  margin-left: 140px;
}

div.taskbadge div.task-name {
  margin-right: 140px;
}

div.taskbadge div.task-toplevel {
  font-size: 2em;
}
div.taskbadge div.task-midlevel {
  font-style: italic;
  font-color: #ccc;
}
div.taskbadge div.task-timeinfo {
  float: right;
}
div.taskbadge div.task-actions a {
  color: #4e9a06;
}
